<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>our top fancy Dashboard</title>
</head>
<body>
<div>
    {% if user and user_id %}
        <a href="{{ url_for('logout') }}"><button>Logout</button></a>
        <a href="{{ url_for('login') }}"><button>Switch user</button></a>
    {% else %}
        <a href="{{ url_for('login') }}"><button>Login</button></a>
    {% endif %}
</div>
{% if user %}
    <h1>Welcome <i>{{ user }}</i> to our top fancy Dashboard</h1>
{% else %}
    <h1>Welcome <u>random user</u> to our top fancy Dashboard</h1>
{% endif %}

</h1>
<pre>
--- sessions overview *er dette bare index.html?*  ---
    <i> et overblik alle sessions' max distance</i>

   max
   distance
     ^                    *  *            tooltip:
     |             *  * *      *            - max dist
     | *       * *                          - timestamp
     |    *  *                              - session duration ?
     -----------------------------> time
      ts ts ts ts ts ts ts ts ts ts

</pre>
<div>
    {% if user and user_id %}
        <a href="{{ url_for('view_users_sessions', user_id=user_id) }}">
            <button>See my sessions</button>
        </a>
    {% endif %}
</div>
</body>
</html>
