<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Here is all the sessions for user: ...</title>
</head>
<body>
{% for session in users_sessions %}
    <a href="{{ url_for('session_details', session_uuid=session.session_uuid) }}" class="session-card">
        <div>
            <h2>Session d. {{ session.start_time }}</h2>
            <p>Max Distance: {{ session.max_distance }}</p>
            {% if session.end_time %}
                <p>Duration: {{ session.duration }}</p>
            {% endif %}
<!--            TODO: fix durantion den fucker når der ikke er end_time i db  lav den med: session.end_time - session.start_time -->
<!--            <p>Duration: </p>-->
        </div>
    </a>
{% else %}
    <p>No sessions found for this user.</p>
{% endfor %}
<a href="{{ url_for('index') }}">← Tilbage</a>
</body>
</html>